{{- template "doc.header" . }}

This chart can be used to render Argo CD Applications and Appprojects.

{{ template "doc.maintainer_and_sources" . }}

## Examples

The values.yaml has different examples:


{{ template "doc.footer" . }}
